<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmzhkj.system.mapper.SysDictTypeMapper">

	<resultMap type="com.hmzhkj.system.domain.SysDictType" id="SysDictTypeResult">
		<id     property="dictId"     column="dict_id"     />
		<result property="dictName"   column="dict_name"   />
		<result property="dictType"   column="dict_type"   />
		<result property="status"     column="status"      />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="selectDictTypeVo">
        select dict_id, dict_name, dict_type, status, create_by, create_time, remark 
		from sys_dict_type
    </sql>

	<select id="selectDictTypeList" resultMap="SysDictTypeResult">
	    <include refid="selectDictTypeVo"/>
		<where>
		    <if test="dictName != null and dictName != ''">
				AND dict_name like concat('%', #{dictName}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="dictType != null and dictType != ''">
				AND dict_type like concat('%', #{dictType}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				AND to_date(cast(create_time as TEXT),'YYYY-MM-DD HH24:MI:SS') <![CDATA[ >= ]]> to_date(cast(#{params.beginTime} as TEXT),'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				AND to_date(cast(create_time as TEXT),'YYYY-MM-DD HH24:MI:SS') <![CDATA[ <= ]]> to_date(cast(#{params.endTime} as TEXT),'YYYY-MM-DD HH24:MI:SS')
			</if>
	    </where>
	</select>
	
	<select id="selectDictTypeAll" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
	</select>
	
	<select id="selectDictTypeById"  resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_id = #{dictId}
	</select>
	
	<select id="selectDictTypeByType" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType}
	</select>
	
	<select id="checkDictTypeUnique" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType} limit 1
	</select>
	
	<delete id="deleteDictTypeById" >
 		delete from sys_dict_type where dict_id = #{dictId}
 	</delete>
 	
 	<delete id="deleteDictTypeByIds" >
 		delete from sys_dict_type where dict_id in
 		<foreach collection="array" item="dictId" open="(" separator="," close=")">
 			#{dictId}
        </foreach> 
 	</delete>

 	<update id="updateDictType" >
 		update sys_dict_type
 		<set>
 			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
 			<if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
 			<if test="status != null">status = #{status},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = now()
 		</set>
 		where dict_id = #{dictId}
	</update>
 	
 	<insert id="insertDictType">
 		insert into sys_dict_type(
		dict_id,
 			<if test="dictName != null and dictName != ''">dict_name,</if>
 			<if test="dictType != null and dictType != ''">dict_type,</if>
 			<if test="status != null">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 		        #{dictId},
 			<if test="dictName != null and dictName != ''">#{dictName},</if>
 			<if test="dictType != null and dictType != ''">#{dictType},</if>
 			<if test="status != null">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			now()
 		)
	</insert>
	
</mapper> 